a {
  &:hover {
    text-decoration: none;
    color: white;
  }
  color: white;
}



ul, ol, p a{
  list-style: none;
  padding: 0;
  margin: 0;
}

h1, h2, h3, h4, h5 {
  margin: 0;
}

* ,*::before, *::after {
  margin: 0;
  box-sizing: border-box;
}
head {
  display: none;
}
img {
  max-width: 100%;
}
body{
background-color: rgb(248, 248, 248);

}

.row {
  display: flex;
  flex-wrap: wrap;
  //margin-right: -15px;
  //margin-left: -15px;
}

.container {
  width: 100%;
  margin-right: auto;
  margin-left: auto;
}

.btn {
  display: inline-block;
  font-weight: 400;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  user-select: none;
  border: 1px solid transparent;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  line-height: 1.5;
  width: 112px;
  border-radius: 50px;
}

button {
  margin: 0;
  font-family: inherit;
}

@media (min-width: 576px) {
  .col-lg-5 {
    max-width: 51%;
  }
}
@media  (min-width: 768px) {
  .col-lg-5 {
    max-width: 50%;
  }
}
@media  (min-width: 992px) {
.col-lg-5 {
  max-width: 52%;
  }
}


//col-lg-4
@media screen and  (min-width: 576px){
  .col-lg-4{
    max-width: 38%;
  }
}
@media screen and  (min-width: 768px){
  .col-lg-4 {
    max-width: 38%;
  }
}
@media screen and  (min-width: 992px){
  .col-lg-4 {
    max-width: 38%;
  }
}


@media (min-width: 567px){
  .container {
    max-width: 540px;
  }
}

@media (min-width: 768px){
.container {
  max-width: 720px;
  }
}

@media (min-width: 992px){
  .container {
    max-width: 960px;
  }
}

@media (min-width: 1200px){
  .container {
    max-width: 1140px;
  }
}

//------------------------- about screen --------

.flex-box-container {
  display: flex;
  margin-right: -15px;
  margin-left: -15px;
}

.area-container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

.line-yellow {
  transition: all 0.3s ease;
  background-color: $color-warning;
  position: absolute;
  height: 100%;
  width: 20%;
}

.line-book {
  position: relative;
  height: 3px;
  background-color: #e8e8e8;
}

.item-Date {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 18px;
  height: 60px;
  width: 50px;
  background-color: #ffffff;
  hr {
    margin: 0;
    width: 80%;
    border: none;
    border-bottom: 1px solid #dbdbdb;
  }
  .time-date {
    color: #C9923C;
  }
  .time-month {
    color: #9b9a9a;
  }
}





