.footer-area {
  display: flex;
  flex-direction: column;
  background-image: url("../images/footer_01.png");
  background-size: 480px 300px;
  background-repeat: no-repeat;
  padding: 32px 20px;
  align-items: flex-end;

  .flex-container {
    display: flex;
    flex-direction: column;
    width: 880px;
  }

  .row--flex-footer{
    align-items: flex-start;
    justify-content: space-between;
    padding-top: 20px;
    width: 630px;
    margin-bottom: 15px;
  }


  .row--flex-social {
    align-items: center;
    justify-content: space-between;
    width: 700px;
    padding: 15px 0;
    border-bottom: 1px solid #d1d1d1;
    border-top: 1px solid #d1d1d1;

  }

  .row--flex-button {
    justify-content: space-between;
    width: 350px;
  }

  .paragraph {
    margin-top: 5px;
    width: 700px;
  }
  @media  screen and (max-width: 992px) {
    .flex-container {
      width: auto;
      justify-content: center;
    }

  }

  @media screen and (max-width: 768px) {
    .btn {
      margin-bottom: 10px;
    }

    .row--flex-footer {
      width: 680px;
    }
    .row--flex-social {
      width: 680px ;
    }
    .row--flex-button {
      width: 260px;
    }
    .paragraph {
      width: 680px;
    }
  }

  @media screen and (max-width: 700px){
    .row--flex-footer {
      flex-direction: column;
      width: auto;
      //justify-content: center;
    }

    .row--flex-social {
      flex-direction: column;
      width: inherit;
    }
    .row--flex-button {
      flex-wrap: wrap;
      align-items: center;
      justify-content: space-evenly;
    }
    .paragraph {
      width: inherit;
    }
  }


  h6 {
    font-size: 18px;
    color: #444444;
    font-weight: 400;
    padding-bottom: 10px;
  }
  p {
    font-size: 13px;
    color: rgb(137, 137, 137);
    line-height: 1.714;
  }

  .btn-facebook {
    background-color: #4c6ea9;
    color: #ffffff;
    &:hover {
      background-color: #ffffff;
      border-color: #4c6ea9 ;
      color: black;
    }
    &:active {
      background-color: #4c6ea9;
      color: #ffffff;
    }
  }

  .btn-google {
    background-color: #ff5838;
    color: #ffffff;
    &:hover {
      background-color: #ffffff;
      border-color: #ff5838 ;
      color: black;
    }
    &:active {
      background-color: #ff5838;
      color: #ffffff;
    }
  }

  .btn-youtube {
    background-color: #dc3833;
    color: #ffffff;
    &:hover {
      background-color: #ffffff;
      border-color: #dc3833 ;
      color: black;
    }
    &:active {
      background-color: #dc3833;
      color: #ffffff;
    }
  }





}


