/*--------------------------------------------------------------
# Header
--------------------------------------------------------------*/
#head {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  transition: all 0.5s;
  background: $nav-color;
  padding: 10px ;
}

#logo  img{
  height: 60px;
}

.row {

  flex-wrap: nowrap;
  align-items: center;
  justify-content: center;
}
// icon search
.btn {
  color: $color-warning;

  &:hover{
    color: $whiteish;
  }
}
// Navigation Menu
.nav-menu {
  display: flex;
   a {

    padding: 0px 10px;
    text-decoration: none;
    display: inline-block;
    color: $whiteish;
    font-weight:500;
    text-transform: uppercase;
     width: fit-content;
     margin: auto;
     &:hover {
       color: $color-warning;
     }
     &:active {
       color: #679b9b;
     }
  }

  div#actived {
    position: absolute;
    width: 100px;
    top: 75px;
    left: 28em;
    height: 5px;
    background: $color-warning;
  }

}

